<div>
	<button type="button" class="btn btn-default new-playlist" ng-click="newPlaylist()">Create new playlist</button>	
</div>
<div class="panel panel-default" ng-repeat="playlist in playlists">
	<div class="panel-heading clearfix">
		<div class="playlist-toggle pull-left" ng-click="playlist.visible = !playlist.visible">
			<h3 class="pull-left">{{ playlist.name }}</h3>
			<span ng-show="playlist.visible" class="glyphicon glyphicon-chevron-up"></span>
			<span ng-hide="playlist.visible" class="glyphicon glyphicon-chevron-down"></span>
		</div>
		<span class="playlist-file-count">({{ playlist.files.length }})</span>
		<button class="btn btn-primary pull-right" ng-click="add(playlist, mode)">Add to queue</button>
		<div class="col-md-4 pull-right">
			<select ng-init="mode = 0" ng-model="mode" class="form-control">
				<option value="0">Empty queue and add play soon as possible</option>
				<option value="1">Add to end of queue</option>
				<option value="2">Add after current playlist</option>
			</select>
		</div>
	</div>
	<div class="panel-body" ng-show="playlist.visible">
		<div class="panel-body-header clearfix">
			<button class="btn btn-primary pull-left shuffle" ng-click="shuffle(playlist)">Shuffle</button>
			<button class="btn btn-primary pull-left" ng-click="save(playlist)" ng-class="{disabled: new}">Save song order</button>
			<label for="auto-shuffle">Auto shuffle</label>
			<input type="checkbox" id="auto-shuffle" ng-change="modify(playlist)" ng-model="playlist.autoShuffle" />
		</div>
		<ul class="list-group" ui-sortable="attrs" ng-model="playlist.files">
			<li modify-song="song" class="list-group-item playlist-item" ng-repeat="song in playlist.files">
				<span class="playlist-index">{{ $index +1}}</span>
				<span>{{ song.metadata.artist }}</span>
				<span ng-show="song.metadata.artist && song.metadata.title"> - </span>
				<span>{{ song.metadata.title }}</span>
				<span ng-hide="song.metadata.artist || song.metadata.title">{{ song.path }}</span>
				<span ng-hide="playlist.locked" ng-click="remove(playlist, song);$event.stopPropagation();" class="song-control">remove</span>
			</li>
		</ul>
	</div>
</div>
