<h3>List of songs</h3>
<div class="form-inline">
	<div class="form-group">
		<input type="text" class="form-control" ng-model="search" placeholder="Search song" />
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-default" ng-click="search = ''">Clear</button>
	</div>
</div>
<hr />
<table class="table table-hover">
	<thead>
		<tr>
			<th>Artist</th>
			<th>Title</th>
			<th class="hidden-xs">Path</th>
			<th></th>
		</tr>
	</thead>
	<tr ng-class="" ng-repeat="song in songs | filter:search as results">
		<td><span>{{song.metadata.artist}}</span></td>
		<td><span>{{song.metadata.title}}</span></td>
		<td class="hidden-xs"><span>{{song.path}}</span></td>
		<td>
			<div class="dropdown">
		  		<a id="dLabel" class="dropdown-toggle" data-target="#" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Actions
					<span class="caret"></span>
		  		</a>
		  		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><a href="javascript: void(0)" type="button" modify-song="song">Modify</a></li>
					<li><a href="javascript: void(0)" type="button" ng-click="add(song)">Add to queue</a></li>
				</ul>
			</div>
		</td>
	</tr>
	<tr class="no-results" ng-show="results.length == 0">
		<td colspan="4"><h4>No reults found!</h4></td>
	</tr>
</table>
