@media screen and (max-width: 768px) {
	.container {
		margin-right: -15px !important;
		margin-left: -15px !important;
	}
}

.container {
	margin-top: 51px;
}

.audio-control a {
	float: left;
	cursor: pointer;
}

.no-results {
	text-align: center;
}

.listeners-container h3 {
	margin-top: 0;
}

#listeners {
	width: 300px;
}

.dashboard {
	margin-top: 25px;
	text-align: center;
}

.left-column, .right-column {
	display: inline-block;
	vertical-align: top;
	padding-right: 50px;
	max-width: 50%;
}

.coming-up {
	color: #aaa;
}

.playlist-item {
	cursor: pointer;
}

.playlist-index {
	padding-right: 10px;
}

.panel-heading h3 {
	margin: 0;
}

.playlist-file-count {
	margin-top: 3px;
	display: inline-block;
	margin-left: 7px;	
}

.song-100 {
	position: absolute;
	height: 100%;
	margin: -10px;
	margin-left: -15px;
}

span.song-position {
	background-color: green;
	opacity: 0.2;
	-webkit-transition: width 1s;
    transition: width 1s;
}

.song-position-detail {
	text-align: center;
	width: 100%;
	padding-top: 10px;
	font-size: 0;
}

.song-position-detail:hover {
	font-size: 15px;
}

div.dropdown {
	min-width: 80px;
}

a.dropdown-toggle {
	height: 15px;
	cursor: pointer;
	text-decoration: none;
}

a.dropdown-toggle:hover {
	text-decoration: none;
}